@import "tailwindcss";

/* CONTENT FONT (DEFAULT FOR EVERYTHING) */
body {
  font-family: 'Inter', sans-serif;
}

/* HEADING FONT (ONLY HEADINGS) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', 'mono' ;
  letter-spacing: 0.05em; /* optional premium look */
}

/* OPTIONAL: Better paragraph styling */
p {
  color: #4b5563;   /* gray-600 */
  line-height: 1.6;
}




